# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.bub/
.buildlog/
.history
.svn/
.mason/
.fvm/
flutter_*.png
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
.metadata
*~
*.iml
.Dart.software
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.jks
key.properties
.packages
.pub/
.pub-cache/
pubspec.lock
android/local.properties
